

.people{
    min-width: 5rem;
}

.main {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 0.5rem;
}

.header{
    display: flex;
    justify-content: space-between;
}

.chatHeader{
    display: flex;
    justify-content: space-between;
}

.chatArea{
    height: 18rem;
    overflow-y: scroll;
    scrollbar-width: none;
}

.bottomPanel{
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    margin-bottom: 1rem;
}

.sendButton{
    border-radius: 20px !important;
    padding: 0 !important;
}

.searchContainer{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: 1rem;
}

.message {
    width: fit-content;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap:0.5rem

}

.container {
    margin-top: 5rem;
}

.roomListContainer{
    border-right: 1px solid gray;
}

.messageInnerContainer{
    display: flex;
    gap: 0.2rem;
    align-self: flex-start;
}

.chatAvatar{
    margin-top: 0.5rem;
}
.searchContainer{
    height : 100%
}

.searchInput{
    height : 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
.searchInput input {
    height : 80%;
    font-size: large;
    background-color:transparent;
    border :none;
    outline: none;
}