
.button {
    border-radius: 50px !important;
  
}

.company_logo{
    width: 100px !important;
    height: auto !important;


}

.container {
    padding : 1rem;
    max-width: 800px;
    margin : 2rem auto;
}
.buttons{
    display: flex;
    gap: 1rem;
    margin-top : 1rem 
}